* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh; 
    width: 100vw;
    padding: 100px;
    margin-left: 200px;
}

.container, .container-2, .container-4 {
    display: flex;
    flex-direction: row;
    color: yellow;
    background-color: rgb(241, 241, 241);
    /* height: 100px; */
    max-width: 740px;
    gap: 5px;
    /* cursor: pointer;
    transition: transform 0.2s, opacity 0.2s; */
    /* position: relative; */   
}

.item-1 {
    flex-grow: 2;
    color: turquoise;
    background-color: rgb(181, 69, 69);
    height: 100px;
    /* width: 35%; */
    margin-top: 5px;
    margin-left: 5px;
    /* margin-top: 10px; */
    
    /* padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s; */
}


.item-2 {
    flex-grow: 2;
    color: turquoise;
    background-color: rgb(249, 0, 0);
    height: 100px;
    /* width: 35%; */
    margin-top: 5px;
}

.item-3 {
    flex-grow: 1;
    color: turquoise;
    background-color: rgb(0, 0, 0);
    height: 100px;
    /* width: 20%; */
    margin-top: 5px;
}

.item-4 {
    flex-grow: 1;
    color: turquoise;
    background-color: rgb(94, 8, 8);
    height: 100px;
    /* width: 20%; */
    margin-top: 5px;
    margin-right: 5px;
}

.item-a {
    flex-grow: 2;
    color: turquoise;
    background-color: rgb(94, 8, 8);
    height: 100px;
    /* width: 35%; */
    margin-top: 5px;
    margin-left: 5px;
}

.item-b {
    flex-grow: 2;
    color: turquoise;
    background-color: rgb(0, 0, 0);
    height: 100px;
    /* width: 35%; */
    margin-top: 5px;
}

.item-c {
    flex-grow: 1;
    color: turquoise;
    background-color: rgb(249, 0, 0);
    height: 100px;
    /* width: 20%; */
    margin-top: 5px;
    
}

.item-d {
    flex-grow: 1;
    color: turquoise;
    background-color: rgb(181, 69, 69);
    height: 100px;
    /* width: 20%; */
    margin-top: 5px;
    margin-right: 5px;
}

.container-3 {
    display: flex;
    flex-direction: row;
    color: yellow;
    background-color: rgb(255, 255, 255);
    /* height: 100px; */
    max-width: 740px;
    /* gap: 0; */
}

.item {
    flex-grow: 2;
    color: turquoise;
    background-color: rgb(59, 14, 14);
    height: 100px;
    /* width: 21%; */
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.item-5 {
    flex-grow: 2;
    color: turquoise;
    background-color: brown;
    height: 100px;
    /* width: 35%; */
    margin-top: 5px;
    margin-left: 5px;
    /* margin-top: 10px; */
    
    /* padding: 10px 20px; */
    margin-bottom: 5px;
}

.item-6 {
    flex-grow: 2;
    color: turquoise;
    background-color: rgb(208, 84, 84);
    height: 100px;
    /* width: 35%; */
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-7 {
    flex-grow: 1;
    color: turquoise;
    background-color: rgb(143, 13, 13);
    height: 100px;
    /* width: 20%; */
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-8 {
    flex-grow: 1;
    color: turquoise;
    background-color: rgb(186, 39, 58);
    height: 100px;
    /* width: 20%; */
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

h1 {
    color: white;
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 30px;
}